// Place all the styles related to the api/Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-event-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid $off-grey;
}


.group-event-item > ul:last-child {
  border-bottom: none;
}


.group-event-item > li {
  font-size: 20px;
  font-weight: 400;

}


.group-event-item > li > span {
  font-size: 16px;
  color: black;
  text-shadow: none;
}

.event-list-container {

}

#hello {
  font-weight: 600;
  margin-bottom: 5px;
}
#hello:hover {
  color: blue;
}

#event-description {
  margin-left: 10px;
  border-radius: 4px;
  background: white;
  border: 1px solid $off-grey;
  padding: 10px;
  line-height: 22px;
}

.event-list-buttons {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background: white;
  border-bottom: 1px solid $off-grey;

}

.event-list-buttons > li {
  color: #000077;
  margin-right: 20px;

}

.event-list-buttons > li:hover {
  cursor: pointer;

}


.selected {
  font-weight: bold;
  border-bottom: 3px solid;
  color: #000077;
}


.rsvp-button {
  background: $main-red;
  color: white;
  padding: 6px 8px;
  font-size: 16px;
  margin-left: 60px;
  font-weight: bold;
  border-radius: 3px;

}

.event-show-right-bar {
  width: 200px;
  border: 1px solid $off-grey;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  background: white;
}

.rsvp-container {
  font-size: 14px;
  display: flex;
  flex-direction: row;

}

.rsvp-container h2 {
  font-size: 24px;
  font-weight: 900;
}

.rsvp-container h3 {
  font-size: 15px;
}

.rsvp-mini  {
  display: flex;
  flex-direction: row;


}

.event-show-content-main {
  width: 780px;
  text-align: left;
  border: 1px solid $off-grey;
  border-radius: 4px;
  padding: 20px;
  background: white;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}


.event-show-content-main > p {
  font-size: 16px;
  line-height: 19px;
}

.event-member-list {
  font-family: $labels-sans-serif;
  font-weight: bold;
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }

  padding-right: 8px;

}

.event-member-list li {
  padding-bottom: 15px;
}

.event-member-list li:first-of-type {
  padding-right: 10px;
}

.event-show-date-loc {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;

}


.event-show-date-loc > span{
  margin-right: 10px;

}

.event-show-date-loc-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 20px;
}

.event-show-date-icon {
  font-size: 20px;
  margin-right: 10px;
}

.event-show-loc-icon {
  margin-right: 15px;
}
.event-show-date-loc-info > li {
  margin-left: 10px;
  font-size: 20px;
}

.event-show-date-loc-info > li:last-child{
  font-size: 16px;
}

.event-show-time-address{
  font-size: 16px;
}

.event-show-time-address > span{
  margin-left: 25px;
}

.members-container {
  h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
  }
}


.event-show-content-container {
  width: 745px;
  display: flex;
  flex-direction: row;

}
