// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.red-button {
	background-color: $main-red;
	color: white;
	padding: 6px 8px;
	border-radius: 3px;
  margin-bottom: 16px;
	font-family: $sans-serif;
	font-size: 16px;
	text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.red-button:hover {
  background-color: $main-red-hover;
}

.main-nav {
	display: flex;
	width: 100%;
	min-width: 900px;
	align-items: center;
	padding: 10px 5px;
	border-bottom: 1px solid $off-grey;


}

.right-nav{
	width: 40%;
}

.left-nav {
	width: 40%;
}

.center-nav {
	width: 20%;
}

.left-nav > ul,
.right-nav > ul,
.center-nav > ul {
	display: flex;
	align-items: center;
}

.left-nav  > ul {
	justify-content: flex-start;
}

.right-nav > ul {
	justify-content: flex-end;
}

#user-greeting {
	cursor: auto;
}

.center-nav > ul {
	justify-content: center;
}

.left-nav > ul > li,
.right-nav > ul > li {
	font-family: $labels-sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  cursor: pointer;
  text-align: center;

}
//
.right-nav > ul > li:last-of-type {
  background-color: $main-red;
  color: white;
  padding: 8px 15px;
  border-radius: 3px;

  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.right-nav > ul > li:last-of-type:hover {
  background-color: $main-red-hover;
}






#logo {
  color: $red-text;

	border-radius: 20px;
	padding: 5px 12px;
  font-size: 28px;
  font-weight: bold;
  align-text: center;
  font-family: $logo-font;
	border: 2px solid $red-text;
}




.session-form {
  text-align: left;
  display: absolute;
  background-color: 'red';
  border-top: 1px solid $off-grey;
  border-right: 1px solid $off-grey;
  border-left: 1px solid $off-grey;
  width: 450px;
  padding: 20px 20px;
  margin: 0 auto;
  background-color: white;
}

.session-form:last-of-type {
    border-bottom: 1px solid $off-grey;
    margin-bottom: 160px;
}

.session-form:first-of-type {
  margin-top: 60px;
}
.entire-session-form {
  background-color: $off-white;
  display: flex;
  flex-direction: column;

}
.session-form label {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: $labels-sans-serif;

  // padding: 10px 10px;

}

.session-form input[type=text], input[type=password]{
  background-color: #f6ffcc;
  font-size: 16px;
  box-sizing: border-box;
  width: 400px;
  border: 1px solid $off-grey;
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 32px;
  padding-left: 5px;

}


.intro-text {
  font-size: 16px;
  font-color: black;
  font-weight: 400;
  text-align: left;
}

.intro-text h2 {
  color: $red-text;
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 10px;
  text-align: left;
}

.intro-text span {
  font-family: $labels-sans-serif;
  font-weight: bold;
  font-size: 14px;
}





.link {
  color: $blue;
}

input[type=text]:focus {
  border-color: $blue;
  background-color: white;
}
input[type=password]:focus {
  border-color: $blue;
  background-color: white;
}
.errors {
  font-size: 12px;
  color: $red-text;
}
