// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: $off-white;
}

.red-button {
	background-color: $main-red;
	color: white;
	padding: 6px 8px;
	border-radius: 3px;
  margin-bottom: 16px;
	font-family: $sans-serif;
	font-size: 16px;
	text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.red-button:hover {
  background-color: $main-red-hover;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	padding: 15px 10px;
	border-bottom: 1px solid $off-grey;
  
}

.left-nav > ul,
.right-nav > ul,
.center-nav > ul {
	display: flex;
	align-items: center;
  cursor: pointer;
}

.left-nav > ul > li,
.right-nav > ul > li {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  cursor: pointer;
  text-align: center;
  // margin-bottom: 16px;

}
//
.right-nav > ul > li:last-of-type {
  background-color: $main-red;
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
  // margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.right-nav > ul > li:last-of-type:hover {
  background-color: $main-red-hover;
}

#logo {
  color: $red-text;
  font-size: 22px;
  font-weight: bold;
  align-text: center;
  font-family: cursive;
}




.session-form {
  text-align: left;
  display: absolute;
  background-color: 'white';
  border: 1px solid #DDD;
  width: 450px;
  padding: 20px 20px;
  margin: 0 auto;
}
.entire-session-form {
  background-color: "white";
  display: flex;
  flex-direction: column;
  margin: 60px auto;

}
.session-form label {
  background-color: white;
  font-size: 13px;
  font-weight: 600;

  // padding: 10px 10px;

}

.session-form input[type=text], input[type=password]{
  background-color: $off-white;
  font-size: 16px;
  box-sizing: border-box;
  width: 400px;
  border: 1px solid #DDD;
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 32px;
  padding-left: 5px;

}


.intro-text {
  font-size: 16px;
  font-color: black;
  font-weight: 400;
  text-align: left;
}

.intro-text h2 {
  color: $red-text;
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 10px;
  text-align: left;
}



.link {
  color: $blue;
}

input[type=text]:focus {
  border-color: $blue;
  background-color: white;
}
input[type=password]:focus {
  border-color: $blue;
  background-color: white;
}
.errors {
  font-size: 12px;
  color: $red-text;
}
