// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red-button {
	background-color: $main-red;
	color: white;
	padding: 6px 8px;
	border-radius: 3px;
  margin-bottom: 16px;
	font-family: $sans-serif;
	font-size: 16px;
	text-align: center;
  cursor: pointer;
  height: 36px;
  width: 82px;
  font-weight: 600;
  line-height: 16px

}

.red-button:hover {
  background-color: $main-red-hover;
}

.nav-links{
  font: 16px;
  background-color: black;
  color: white;
  font-weight: 500;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav, .right-nav {
  display: flex;
  align-items: center;
  font-family: $sans-serif;
}

.session-form {
  text-align: left;
  display: flex;
  justify-content: center;
  border: 1px solid #DDD;
  width: 450px;
  padding: 10px 0;
  margin-top: 150px;
  margin-left: 550px;
}
.session-form label {
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.session-form input[type=text], input[type=password]{
  background-color: $off-white;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  padding: 8px;
  box-sizing: border-box;
  height: 40px;
  width: 400px;
  border: 1px solid #DDD;
  margin-bottom: 16px;

}

.intro-text {
  font-size: 16px;
  font-color: $off-grey;
  font-weight: 400;
  color: grey;
  text-align: left;
}

.intro-text h2 {
  color: $red-text;
  font-weight: 400;
  font-size: 45px;
  margin: 0 0 8px;
  text-align: left;
}

.link {
  color: $blue;
}

input[type=text]:focus {
  border-color: $blue;
  background-color: white;
}
input[type=password]:focus {
  border-color: $blue;
  background-color: white;
}
