.group-nav-bar {
  width: 960px;
  margin: 0 auto;
}

.group-nav-name {
  color: white;
  background-color: $lighter-red;
  padding: 40px 0;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  border-bottom: 10px solid $main-red-hover;
}

.group-lower-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $off-grey;
  font-size: 20px;
  padding: 5px;
}

.right-group-nav {
  display: flex;
  justify-content: center;
}

.left-group-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.left-group-nav > span {
  margin: 0 10px;
  color: grey;
  padding: 8px;
  border-radius: 3px;
}

.left-group-nav > span:hover {
  background-color: red;
  color: white;
}

.right-group-nav > span {
  background-color: $main-red;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding: 8px;
}


.right-group-nav > span:hover {
  background-color: $main-red-hover;
}
