.group-nav-bar {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 30px;

}

.group-nav-name {
  color: white;
  padding: 40px 0;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  position: relative;
  border: 1px solid $off-grey;
  border-bottom: none;
  background-color: $main-red;
  border-radius: 4px 4px 0 0;
}

#group-img {
  z-index: 0;
  height: 100px;
}
.group-lower-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $off-grey;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.left-group-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.left-group-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-group-nav > ul > li {
  margin: 0 10px;
  color: rgba(0,0,0,.87);
  padding: 8px;
  border-radius: 3px;
}

.left-group-nav > ul > li:hover {
  background: red;
  color: white;
}


.right-group-nav {
}

.right-group-nav > ul > li {
  background-color: $main-red;
  margin: 0 10px;
  padding: 8px 15px;
  color: white;
  border-radius: 3px;
}

.right-group-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-group-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-group-nav {
  border-radius: 5px;
}


.join-us-button {
  background-color: $main-red;
  color: white;
  padding: 6px 8px;
  border-radius: 3px;
  font-family: $sans-serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}

.join-us-button:hover {
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

.group-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $off-grey;
  border-radius: 4px;
  font-family: 'Yantramanav', sans-serif;
}

#member-count-sidebar:hover {
  color: blue;
}
#member-count-sidebar:focus {
  color: blue;
}

.group-sidebar-container > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-sidebar-container > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}



.group-sidebar-container > ul > li > span:last-of-type {
  text-align: right;
}
.group-sidebar-container > ul > li:last-of-type {
  margin-bottom: 0;
}
.group-show-container {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
}

.group-show-content {
  display: flex;
  flex-direction: row;
  width: 960px;
}

.group-show-content-right {
  display: flex;
  flex-direction: column;
  width: 740px;
}

.group-show-content-right > p,
.group-show-content-right > ul {
  font-size: 18px;
  margin-left: 10px;
  border: 1px solid $off-grey;
  padding: 10px;
  margin-bottom: 20px;
}

.event-show-content-main {
  margin-left: 10px;
  width: 740px;
  border: 1px solid $off-grey;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.event-show-content-main > p {
  font-size: 16px;
  text-align: justify;
}
.event-show-content-main > h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.event-show-content-main > h2 {
  font-size: 20px;
}
