.group-nav-bar {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.group-nav-name {
  color: black;
  padding: 40px 0;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  position: relative;
  border: 1px solid $off-grey;
  border-bottom: none;
  background-color: red;

  h1 {
    position: absolute;
    top: 70px;
    left: 260px;
  }
}

#group-img {
  z-index: 0;
  height: 100px;
}
.group-lower-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $off-grey;
  font-size: 20px;
  padding: 5px;
  background-color: $main-red;
}

.right-group-nav {
  display: flex;
  justify-content: center;
}

.left-group-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.left-group-nav > span {
  margin: 0 10px;
  color: grey;
  padding: 8px;
  border-radius: 3px;
}

.left-group-nav > span:hover {
  background-color: red;
  color: white;
}

.right-group-nav > span {
  background-color: $main-red;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding: 8px;
}


.right-group-nav > span:hover {
  background-color: $main-red-hover;
}

.group-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  font-size: 13px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $off-grey;
}

.group-sidebar-container > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-sidebar-container > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}



.group-sidebar-container > ul > li > span:last-of-type {
  text-align: right;
}
.group-sidebar-container > ul > li:last-of-type {
  margin-bottom: 0;
}
.group-show-container {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
}

.group-show-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-show-content > p {
  text-align: justify;
  font-size: 16px;
  margin-left: 10px;
  width: 740px;
  border: 1px solid $off-grey;
  padding: 10px;
  margin-bottom: 20px;
}

.event-show-content-main {
  margin-left: 10px;
  width: 740px;
  border: 1px solid $off-grey;
  padding: 10px;
  margin-bottom: 20px;
}

.event-show-content-main > p {
  font-size: 16px;
  text-align: justify;
}
.event-show-content-main > h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.event-show-content-main > h2 {
  font-size: 20px;
}
