.welcome-cover {
  display: inline-block;
  height: 300px;
  width: 100%;
}

#video {
  z-index: -3;
  overflow: hidden;
  display: block;
  height: 460px;
}

.welcome-slogan {
  padding-top: 170px;
  width: 100%;
  background: transparent;
  z-index: 1;
  position: absolute;
  text-align: center;
  color: white;
}

.welcome-slogan h1 {
  font-size: 48px;
  font-weight: 600;
}

.welcome-slogan h3 {
  font-size: 32px;
  font-weight: 600;
}

.video-signup {

  background-color: $main-red;
  align-items: center;
  color: white;
  padding: 15px 100px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.video-signup:hover {
  background-color: $main-red-hover;
}
