.welcome-cover {
  display: inline-block;
  height: 300px;
  width: 100%;
}

#video {
  z-index: -3;
  overflow: hidden;
  display: block;
  height: 460px;
}
#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.welcome-slogan {
  padding-top: 170px;
  width: 100%;
  background: transparent;
  z-index: 1;
  position: absolute;
  text-align: center;
  color: white;
}

.welcome-slogan h1 {
  font-size: 48px;
  font-weight: 600;
}

.welcome-slogan h3 {
  font-size: 32px;
  font-weight: 600;
}

.video-signup {

  background-color: $main-red;
  align-items: center;
  color: white;
  padding: 15px 100px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.video-signup:hover {
  background-color: $main-red-hover;
}

#welcome-group-img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
}

#welcome-img-txt{
  position: absolute;
  width: 231px;
  left: 21px;
  padding: 5px 10px;
  bottom: 0px;
  right: 0px;
  font-size: 18px;
  background: $main-red;
  color: white;
  text-overflow: ellipsis;
  font-weight: normal;
  text-align: center;
}

.welcome-group-container ul {
  position: relative;
}


.flexthis {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
